/*
DarkSlateGrey
LightSlateGrey
SlateGrey
*/

/*
Grey1   9E9E9E
Grey2   BFBFBF
Grey3   404040
Grey4   E5E5E5
White   FFFFFF
*/

.grey1 {
    background-color: #9E9E9E;
}

.grey2 {
    background-color: #BFBFBF;
}

.grey3 {
    background-color: #404040;
}

.grey4 {
    background-color: #E5E5E5;
}

.white {
    background-color: #FFFFFF;
}


body {
  background: #FFFFFF;
  color: #000;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
h1 {
  
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}
*/

form {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

p.left {
  border: 1px solid #666;
  overflow: hidden;
  /*padding: 10px 0;*/
  text-align: left;
}

p.right {
  border: 1px solid #666;
  overflow: hidden;
  /*padding: 10px 0;*/
  text-align: right;
}

p.header {
  border: 1px solid #666;
  overflow: hidden;
  /*padding: 10px 0;*/
  font-size: 2em;
  font-weight: bold;
}

/*
form {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: left;
}
*/

.container_12 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
  
  /* akl */
  border: 1px solid black;
}

.container_12 {
  background-image: url(../img/12_col.gif);
}

/*
.menu {
    background-color: #000;
}
*/

span.spell {
    font-size: 1.2em;
    font-weight: bold;
}

span.detail {
    color:#A9A9A9;
    font-size:0.8em
}

span.cost {
    color:#000000;
    font-weight:bold;
}

span.type {
    color:#000000;
    font-weight:bold;
}

span.shortcut {
    color:#000000;
    font-weight:bold;
}

span.summary {
    font-size: 1em;
}

/*
.box_container {
    width: 100%;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
}
*/


form.left {
  text-align: left;
}